/**********************************************************************/
[vbox], [hbox] {display: flex;}
[vbox] {flex-direction: column;}
[hbox] {flex-direction: row;}
[vbox^=  "start-"  i], [hbox^=  "start-"  i] { justify-content: start; }
[vbox^=    "end-"  i], [hbox^=    "end-"  i] { justify-content: end; }
[vbox^= "center-"  i], [hbox^= "center-"  i] { justify-content: center; }
[vbox^= "around-"  i], [hbox^= "around-"  i] { justify-content: space-around; }
[vbox^=   "even-"  i], [hbox^=   "even-"  i] { justify-content: space-evenly; }
[vbox^="between-"  i], [hbox^="between-"  i] { justify-content: space-between; }
[vbox^="stretch-"  i], [hbox^="stretch-"  i] { justify-content: stretch; }
[vbox$="-start"    i], [hbox$="-start"    i] { align-items: start; }
[vbox$="-end"      i], [hbox$="-end"      i] { align-items: end; }
[vbox$="-center"   i], [hbox$="-center"   i] { align-items: center; }
[vbox$="-around"   i], [hbox$="-around"   i] { align-items: space-around; }
[vbox$="-even"     i], [hbox$="-even"     i] { align-items: space-evenly; }
[vbox$="-between"  i], [hbox$="-between"  i] { align-items: space-between; }
[vbox$="-stretch"  i], [hbox$="-stretch"  i] { align-items: stretch; }
[vbox$="-baseline" i], [hbox$="-baseline" i] { align-items: baseline; }
[vbox] > *, [hbox] > * { flex: initial; }
[vbox^="stretch"] > *, [hbox^="stretch-"] > * { flex: auto; }
[flex="0"]{flex:0;} [flex="1"]{flex:1;} [flex="2"]{flex:2;}
[flex="3"]{flex:3;} [flex="2"]{flex:4;} [flex="5"]{flex:5;}
/**********************************************************************/


* { margin:0; padding:0; box-sizing:border-box; }
html, body { width:100%; height:100%; }


:root {
  --bg: rgb(247 247 247);
  --text: rgb(26 26 26);
  --line: rgb(26 26 26 / 0.1);
  --caret: rgb(0 195 255);
  --text-sel: rgb(0 195 255 / 0.275);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: rgb(26 26 26);
    --text: rgb(204 204 204);
    --line: rgb(204 204 204 / 0.1);
  }
}

@media (max-device-width: 812px)
   and (prefers-color-scheme: dark) {
  :root {
    --text: rgb(252 252 252);
  }
}

@media (max-device-width: 812px) {
  .ui {
    visibility: visible !important;
  }

  #ed {
    padding-top: 1em !important;
    font-size: 12pt !important;
    font-weight: 450 !important;
  }
}

html {
  font-family: system-ui;
}

body {
  background: var(--bg);
  color: var(--text);
}

body.dragover:after {
  content: 'Drop to Open';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg);
  opacity: 0.5;
  text-align: center;
  line-height: 100vh;
  font-size: 2.5vw;
  z-index: 99999;
}

body.windowed {
  padding-top: 1em;
}


#ed {
  position: relative;
  font-family: ia-quattro-s;
  font-weight: regular;
  border: none;
  background: var(--bg);
  resize: none;
  caret-color: var(--caret);
  color: var(--text);
  line-height: 1.618;
  max-width: 92vw;
  box-sizing: content-box;
  padding: 0 max(calc((100vw - 64ch) / 2), 11vw);
  padding-bottom: calc(100vh - 4rem - 2em);
  padding-top: 2em;
  z-index: 1;
}

max(calc((100vw - (64ch + (0.125px * 64))) / 2), 5vw)

@supports (font-variation-settings: "wdth" 115) {
  #ed {
    font-family: ia-quattro-v;
  }
}

#ed:focus {
  outline: none;
}

#ed::selection {
  background-color: var(--text-sel);
}

#ed[scale="-3"] {
  font-size: 10.5pt;
  font-weight: 425;
  line-height: 1.715;
  word-spacing: 0.67px;
  letter-spacing: 0.125px;
  --pad: max(calc((100vw - (64ch + (0.125px * 64))) / 2), 5vw);
  padding-left: var(--pad);
  padding-right: var(--pad);
}

#ed[scale="-2"] {
  font-size: 11pt;
  font-weight: 425;
  line-height: 1.67;
  word-spacing: 0.67px;
}

#ed[scale="-1"] {
  font-size: 12pt;
  font-weight: 425;
  line-height: 1.625;
  word-spacing: 0.5px;
}

#ed,
#ed[scale="0"] {
  font-size: 13.5pt;
  font-weight: 425;
  line-height: 1.618;
  word-spacing: 0;
}

#ed[scale="1"] {
  font-size: 15pt;
  font-weight: 425;
  line-height: 1.650;
  word-spacing: 0.5px;
}

#ed[scale="2"] {
  font-size: 18pt;
  font-weight: 410;
  line-height: 1.6;
  word-spacing: 0.5px;
}

#ed[scale="3"] {
  font-size: 24pt;
  font-weight: 400;
  line-height: 1.625;
  word-spacing: 0.25px;
}


#ui-menu {
  position: fixed;
  height: 2rem;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid var(--line);
  font-size: 10pt;
  font-family: system-ui;
  text-size-adjust: none;
  cursor: default;
  z-index: 9;
  background: var(--bg);
}

.ui {
  visibility: hidden;
}

.ui.visible {
  visibility: visible;
}

.uibtn {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1em 2px 1em;
  border: none;
  background: none;
  font-size: 10pt;
  color: var(--text);
}

.uibtn:hover {
  background: var(--line);
}

.uibtn {
  overflow: hidden;
}

.uibtn > select {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2em;
}


#config {
  position: fixed;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  height: calc(90vh - 1.5rem);
  margin-bottom: 1.5rem;
  border: 1px solid var(--text);
  border-radius: 5px;
  z-index: 999;
  background: var(--bg);
  box-shadow: 0 8px 24px rgb(0 0 0 / 0.2);
}


#spelltgl:before {
  content: '☐';
  padding-right: 4px;
  margin-left: -3px;
  opacity: 0.5;
}


.spellchecking #spelltgl:before {
  content: '☑';
  opacity: 1;
}

#page {
/*  display: none;*/
  font-family: ETbb;
}


menu {
  position: absolute;
  border: 1px solid 
}

