* { margin:0; padding:0; box-sizing:border-box; }
html, body { width:100%; height:100%; }

[vbox], [hbox] {display: flex;}
[vbox] {flex-direction: column;}
[hbox] {flex-direction: row;}

[vbox^=  "start-"  i], [hbox^=  "start-"  i] { justify-content: start; }
[vbox^=    "end-"  i], [hbox^=    "end-"  i] { justify-content: end; }
[vbox^= "center-"  i], [hbox^= "center-"  i] { justify-content: center; }
[vbox^= "around-"  i], [hbox^= "around-"  i] { justify-content: space-around; }
[vbox^=   "even-"  i], [hbox^=   "even-"  i] { justify-content: space-evenly; }
[vbox^="between-"  i], [hbox^="between-"  i] { justify-content: space-between; }
[vbox^="stretch-"  i], [hbox^="stretch-"  i] { justify-content: stretch; }

[vbox$="-start"    i], [hbox$="-start"    i] { align-items: start; }
[vbox$="-end"      i], [hbox$="-end"      i] { align-items: end; }
[vbox$="-center"   i], [hbox$="-center"   i] { align-items: center; }
[vbox$="-around"   i], [hbox$="-around"   i] { align-items: space-around; }
[vbox$="-even"     i], [hbox$="-even"     i] { align-items: space-evenly; }
[vbox$="-between"  i], [hbox$="-between"  i] { align-items: space-between; }
[vbox$="-stretch"  i], [hbox$="-stretch"  i] { align-items: stretch; }
[vbox$="-baseline" i], [hbox$="-baseline" i] { align-items: baseline; }

[vbox] > *, [hbox] > * { flex: initial; }
[vbox^="stretch"] > *, [hbox^="stretch-"] > * { flex: auto; }

[flex="0"]{flex:0;} [flex="1"]{flex:1;} [flex="2"]{flex:2;}
[flex="3"]{flex:3;} [flex="2"]{flex:4;} [flex="5"]{flex:5;}

/**********************************************************************/


:root {
  --bg: rgb(247 247 247);
  --text: rgb(26 26 26);
  --line: rgb(26 26 26 / 0.1);
  --caret: rgb(0 195 255);
  --text-sel: rgb(0 195 255 / 0.275);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: rgb(26 26 26);
    --text: rgb(204 204 204);
    --line: rgb(204 204 204 / 0.1);
  }
}

html {
  font-size: 16pt;
}

body {
  padding: 2rem 0;
  background: var(--bg);
  color: var(--text);
}

body.windowed {
  padding-top: 1em;
}


#ed {
  font-family: ia-quattro-s;
  font-weight: regular;
  border: none;
  background: var(--bg);
  resize: none;
  caret-color: var(--caret);
  color: var(--text);
  line-height: 1.6667;
  width: 64ch;
}

@supports (font-variation-settings: "wdth" 115) {
  #ed {
    font-family: ia-quattro-v;
    font-weight: 425;
  }
}

#ed:focus {
  outline: none;
}

#ed::selection {
  background-color: var(--text-sel);
}


#ui {
  position: fixed;
  height: 1.5rem;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid var(--line);
  font-size: 11pt;
  font-family: system-ui;
  text-size-adjust: none;
  cursor: default;
/*  visibility: hidden;*/
}

#ui.visible {
  visibility: visible;
}

.uictrl {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1em;
}

.uictrl .menu {
  position: absolute;
  bottom: 100%;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
  visibility: hidden;
  width: 12rem;
  border: 1px solid var(--line);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 999;
  line-height: 1.5;
  padding: 0.75em 1em;
}

.menu > hr {
  margin: 0.25em 0 0.75em 0;
  border: none;
  height: 1px;
  background: var(--line);
}

.uictrl:hover .menu {
  visibility: visible;
}

.menu button {
  color: var(--caret);
  border: none;
  background: none;
  font-size: 10pt;
  font-weight: bold;
  cursor: pointer;
}

.menu button:active {
  transform: scale(0.975);
}

#stat i {
  font-style: normal;
  padding-right: 0.5ch;
}

#configs {
  max-height: 20rem;
  overflow-y: scroll;
}

#configs [name="path"] {
  margin: 0 1em;
  flex: 1;
}

