/**********************************************************************/
[vbox], [hbox] {display: flex;}
[vbox] {flex-direction: column;}
[hbox] {flex-direction: row;}
[vbox^="start"    i], [hbox^="start"    i] { justify-content: start; }
[vbox^="end"      i], [hbox^="end"      i] { justify-content: end; }
[vbox^="center"   i], [hbox^="center"   i] { justify-content: center; }
[vbox^="around"   i], [hbox^="around"   i] { justify-content: space-around; }
[vbox^="even"     i], [hbox^="even"     i] { justify-content: space-evenly; }
[vbox^="between"  i], [hbox^="between"  i] { justify-content: space-between; }
[vbox^="stretch"  i], [hbox^="stretch"  i] { justify-content: stretch; }
[vbox$="start"    i], [hbox$="start"    i] { align-items: start; }
[vbox$="end"      i], [hbox$="end"      i] { align-items: end; }
[vbox$="center"   i], [hbox$="center"   i] { align-items: center; }
[vbox$="around"   i], [hbox$="around"   i] { align-items: space-around; }
[vbox$="even"     i], [hbox$="even"     i] { align-items: space-evenly; }
[vbox$="between"  i], [hbox$="between"  i] { align-items: space-between; }
[vbox$="stretch"  i], [hbox$="stretch"  i] { align-items: stretch; }
[vbox$="baseline" i], [hbox$="baseline" i] { align-items: baseline; }
[vbox] > *, [hbox] > * { flex: initial; }
[vbox^="stretch"] > *, [hbox^="stretch"] > * { flex: auto; }
[flex="0"]{flex:0;} [flex="1"]{flex:1;} [flex="2"]{flex:2;}
[flex="3"]{flex:3;} [flex="2"]{flex:4;} [flex="5"]{flex:5;}
/**********************************************************************/


* { margin:0; padding:0; box-sizing:border-box; position:relative; }
html, body { width:100%; height:100%; }


:root {
  --font-v: ia-quattro-v;
  --font-s: ia-quattro-s;

  --bg: rgb(247 247 247);
  --text: rgb(26 26 26);
  --line: rgb(224 224 224);
  --caret: rgb(0 195 255);
  --text-sel: rgb(0 195 255 / 0.33);
  --placeholder-bg: rgb(26 26 26 / 0.1);
  --sidebar: rgb(252 252 252);
  --sidebar-item-hover: rgb(240 240 240);

  --menu-height: 2rem;

  --z-ui: 2;
  --z-ed: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: rgb(26 26 26);
    --text: rgb(204 204 204);
    --line: rgb(44 44 44);
    --sidebar: rgb(20 20 20);
    --sidebar-item-hover: rgb(33 33 33);
  }
}

@media (max-device-width: 812px)
   and (prefers-color-scheme: dark) {
  :root {
    --text: rgb(252 252 252);
  }
}

@media (max-device-width: 812px) {
  .ui {
    visibility: visible !important;
  }

  #ed {
    padding-top: 1em !important;
    font-size: 12pt !important;
    font-weight: 450 !important;
  }
}

html {
  font-family: system-ui;
}

body {
  background: var(--bg);
  color: var(--text);
}

body.dragover:after {
  content: 'Drop to Open';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg);
  opacity: 0.5;
  text-align: center;
  line-height: 100vh;
  font-size: 2.5vw;
  z-index: 99999;
}

body.windowed {
  padding-top: 1em;
}


#ed {
  font-family: var(--font-s);
  caret-color: var(--caret);
  background: var(--bg);
  color: var(--text);
  border: none;
  resize: none;
  box-sizing: content-box;
  padding-top: 62px;
  padding-bottom: calc(100vh - 4rem);
  z-index: var(--z-ed);

  white-space: pre-wrap;
  overflow-y: scroll;

  --letter-spacing: 0px;
  letter-spacing: var(--letter-spacing);

  --word-spacing: 0px;
  word-spacing: var(--word-spacing);

  --chars: 64;   /* charactes per line */
  --words: 10;   /* words per line (roughly) */

  --pad: calc(0.5 * (100% - (
      (var(--chars) * 1ch)
    + (var(--chars) * var(--letter-spacing))
    + (var(--words) * var(--word-spacing)))));
  padding-left: var(--pad);
  padding-right: var(--pad);
}

#ed ins {
  text-decoration: none;
}

#ed var {
  font-style: normal;
  font-weight: normal;
  border-radius: 3px;
  background: var(--placeholder-bg);
}

@supports (font-variation-settings: "wdth" 115) {
  #ed {
    font-family: var(--font-v);
  }
}

#ed:focus {
  outline: none;
}

::selection {
  background-color: var(--text-sel);
}

#ed::selection {
  background-color: var(--text-sel);
}

#ed[scale="-3"] {
  font-size: 10.5pt;
  font-weight: 425;
  line-height: 1.7858;
  --word-spacing: 0.67px;
  --letter-spacing: 0.187px;
}

#ed[scale="-2"] {
  font-size: 11pt;
  font-weight: 425;
  line-height: 1.7387;
  --word-spacing: 1px;
  --letter-spacing: 0.01875px;
}

#ed[scale="-1"] {
  font-size: 12pt;
  font-weight: 425;
  line-height: 1.75;
  --word-spacing: 0.5px;
  --letter-spacing: 0.0625px;
}

#ed,
#ed[scale="0"] {
  font-size: 13.5pt;
  font-weight: 425;
  line-height: 1.725;
  --word-spacing: 0.25px;
  --letter-spacing: 0.025px;
}

#ed[scale="1"] {
  font-size: 15pt;
  font-weight: 415;
  line-height: 1.725;
  --word-spacing: 0.5px;
}

#ed[scale="2"] {
  font-size: 18pt;
  font-weight: 410;
  line-height: 1.6875;
  --word-spacing: 0.5px;
}

#ed[scale="3"] {
  font-size: 21pt;
  font-weight: 400;
  line-height: 1.625;
  --word-spacing: 0.25px;
}


#config {
  position: fixed;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  height: calc(90vh - 1.5rem);
  margin-bottom: 1.5rem;
  border: 1px solid var(--text);
  border-radius: 5px;
  z-index: 999;
  background: var(--bg);
  box-shadow: 0 8px 24px rgb(0 0 0 / 0.2);
}


/**********************************************************************/

.ui {
  z-index: var(--z-ui);
}

.ui:not(.visible) {
  display: none;
}


#menu {
  position: absolute;
  height: var(--menu-height);
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid var(--line);
  font-size: 10pt;
  font-family: system-ui;
  text-size-adjust: none;
  cursor: default;
  background: var(--bg);

  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.menubtn {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1em 2px 1em;
  border: none;
  background: none;
  font-size: 10pt;
  color: var(--text);
}

.menubtn:hover {
  background: var(--line);
}

.menubtn {
  overflow: hidden;
}

.menubtn > select {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2em;
}



#sidebar {
  width: 225px;
  min-width: 100px;
  max-width: 33.3vw;
  flex-basis: auto;
  background: var(--sidebar);
  z-index: 9;
  border-right: 1px solid var(--line);
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 8px;
  --nest: 1.75ch;

  resize: horizontal;

  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

#sidebar:after:hover {
  background: rgb(0 255 0 / 0.1);
}

#sidebar details {
  cursor: default;
}

#sidebar .item {
  font-size: 10pt;
  line-height: 27px;
  border-radius: 5px;
  white-space: nowrap;
  overflow-x: scroll;
}

#sidebar .item > i:before {
  margin-right: 0.25ch;
  cursor: pointer;
}

#sidebar .dir > i:before {
  content: '📁';
  display: inline;
}

#sidebar [open] > .dir > i:before {
  content: '📂';
}

#sidebar .file > i:before {
  content: '📄';
  display: inline;
}

#sidebar .item:hover {
  background: var(--sidebar-item-hover);
}

#sidebar .item > i {
  font-style: normal;
  display: inline-block;
}

#sidebar [level= "0"] { padding-left: 2ch; }
#sidebar [level= "1"] { padding-left: calc(2ch + ( 1 * var(--nest))); }
#sidebar [level= "2"] { padding-left: calc(2ch + ( 2 * var(--nest))); }
#sidebar [level= "3"] { padding-left: calc(2ch + ( 3 * var(--nest))); }
#sidebar [level= "4"] { padding-left: calc(2ch + ( 4 * var(--nest))); }
#sidebar [level= "5"] { padding-left: calc(2ch + ( 5 * var(--nest))); }
#sidebar [level= "6"] { padding-left: calc(2ch + ( 6 * var(--nest))); }
#sidebar [level= "7"] { padding-left: calc(2ch + ( 7 * var(--nest))); }
#sidebar [level= "8"] { padding-left: calc(2ch + ( 8 * var(--nest))); }
#sidebar [level= "9"] { padding-left: calc(2ch + ( 9 * var(--nest))); }
#sidebar [level="10"] { padding-left: calc(2ch + (10 * var(--nest))); }
#sidebar [level="11"] { padding-left: calc(2ch + (11 * var(--nest))); }

#sidebar summary > i:after {
  content: '►';
  opacity: 0.33;
  position: absolute;
  margin-right: 0.25ch;
  top: 0;
  right: 100%;
  display: block;
  width: 1.25ch;
  display: inline-block;
  font-weight: 600;
  transform: scale(0.54, 0.63);
}

#sidebar details[open] > summary > i:after {
  transform: translateX(-1px) scale(0.54, 0.63) rotate(90deg);
}

#sidebar summary::marker,
#sidebar summary::-webkit-details-marker {
  display: none;
}

#sidebar .file {
}

