/**********************************************************************/
[vbox], [hbox] {display: flex;}
[vbox] {flex-direction: column;}
[hbox] {flex-direction: row;}
[vbox^="start"    i], [hbox^="start"    i] { justify-content: start; }
[vbox^="end"      i], [hbox^="end"      i] { justify-content: end; }
[vbox^="center"   i], [hbox^="center"   i] { justify-content: center; }
[vbox^="around"   i], [hbox^="around"   i] { justify-content: space-around; }
[vbox^="even"     i], [hbox^="even"     i] { justify-content: space-evenly; }
[vbox^="between"  i], [hbox^="between"  i] { justify-content: space-between; }
[vbox^="stretch"  i], [hbox^="stretch"  i] { justify-content: stretch; }
[vbox$="start"    i], [hbox$="start"    i] { align-items: start; }
[vbox$="end"      i], [hbox$="end"      i] { align-items: end; }
[vbox$="center"   i], [hbox$="center"   i] { align-items: center; }
[vbox$="around"   i], [hbox$="around"   i] { align-items: space-around; }
[vbox$="even"     i], [hbox$="even"     i] { align-items: space-evenly; }
[vbox$="between"  i], [hbox$="between"  i] { align-items: space-between; }
[vbox$="stretch"  i], [hbox$="stretch"  i] { align-items: stretch; }
[vbox$="baseline" i], [hbox$="baseline" i] { align-items: baseline; }
[vbox] > *, [hbox] > * { flex: initial; }
[vbox^="stretch"] > *, [hbox^="stretch"] > * { flex: auto; }
[flex="0"]{flex:0;} [flex="1"]{flex:1;} [flex="2"]{flex:2;}
[flex="3"]{flex:3;} [flex="2"]{flex:4;} [flex="5"]{flex:5;}
/**********************************************************************/
* { margin:0; padding:0; box-sizing:border-box; position:relative; }
html, body { width:100%; height:100%; }
/**********************************************************************/


:root {
  --font-v: ia-quattro-v;
  --font-s: ia-quattro-s;

  --bg: rgb(247 247 247);
  --text: rgb(26 26 26);
  --line: rgb(224 224 224);
  --caret: rgb(0 195 255);
  --text-sel: rgb(0 195 255 / 0.33);

  --cmd-bg: rgb(255 255 255);
  --cmd-overlay: rgb(0 0 0 / 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: rgb(26 26 26);
    --text: rgb(204 204 204);
    --line: rgb(44 44 44);

    --cmd-bg: rgb(33 33 33);
    --cmd-overlay: rgb(0 0 0 / 0.5);
  }
}

@media (max-device-width: 812px)
   and (prefers-color-scheme: dark) {
  :root {
    --text: rgb(252 252 252);
  }
}

@media (max-device-width: 812px) {
  #ed {
    padding-top: 1em !important;
    font-size: 12pt !important;
    font-weight: 450 !important;
  }
}

html {
  font-family: system-ui;
}

body {
  background: var(--bg);
  color: var(--text);
}

body.dragover:after {
  content: 'Drop to Open';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg);
  opacity: 0.5;
  text-align: center;
  line-height: 100vh;
  font-size: 2.5vw;
  z-index: 99999;
}

::selection {
  background-color: var(--text-sel);
}

#ed {
  font-family: var(--font-s);
  caret-color: var(--caret);
  background: var(--bg);
  color: var(--text);
  border: none;
  resize: none;
  box-sizing: content-box;
  padding-top: 62px;
  padding-bottom: calc(100vh - 4rem);

  white-space: pre-wrap;
  overflow-y: scroll;

  --letter-spacing: 0px;
  letter-spacing: var(--letter-spacing);

  --word-spacing: 0px;
  word-spacing: var(--word-spacing);

  --chars: 64;   /* charactes per line */
  --words: 10;   /* words per line (roughly) */

  --pad: calc(0.5 * (100% - (
      (var(--chars) * 1ch)
    + (var(--chars) * var(--letter-spacing))
    + (var(--words) * var(--word-spacing)))));

  padding-left: max(10%, var(--pad));
  padding-right: max(10%, var(--pad));
}

#ed ins {
  font-style: inherit;
  font-weight: inherit;
  text-decoration: inherit;
}

@supports (font-variation-settings: "wdth" 115) {
  #ed {
    font-family: var(--font-v);
  }
}

#ed:focus {
  outline: none;
}

#ed[scale="-3"] {
  font-size: 10.5pt;
  font-weight: 425;
  line-height: 1.7858;
  --word-spacing: 0.67px;
  --letter-spacing: 0.187px;
}

#ed[scale="-2"] {
  font-size: 11pt;
  font-weight: 425;
  line-height: 1.7387;
  --word-spacing: 1px;
  --letter-spacing: 0.01875px;
}

#ed[scale="-1"] {
  font-size: 12pt;
  font-weight: 425;
  line-height: 1.75;
  --word-spacing: 0.5px;
  --letter-spacing: 0.0625px;
}

#ed,
#ed[scale="0"] {
  font-size: 13.5pt;
  font-weight: 425;
  line-height: 1.725;
  --word-spacing: 0.25px;
  --letter-spacing: 0.025px;
}

#ed[scale="1"] {
  font-size: 15pt;
  font-weight: 415;
  line-height: 1.725;
  --word-spacing: 0.5px;
}

#ed[scale="2"] {
  font-size: 18pt;
  font-weight: 410;
  line-height: 1.6875;
  --word-spacing: 0.5px;
}

#ed[scale="3"] {
  font-size: 21pt;
  font-weight: 400;
  line-height: 1.625;
  --word-spacing: 0.25px;
}


#cmd {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  background: var(--cmd-overlay);
}

#cmd > input,
#cmd > textarea {
  width: 80vw;
  font-size: 1.5rem;
  padding: 1em;
  font-family: monospace;
  border: 1px solid var(--text);
  color: var(--text);
  background: var(--cmd-bg);
}

#cmd > textarea {
  height: 80vh;
}


